:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 

}

.quantity{
  display:flex;
 
}

/* it will support chrome and firefox */
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;
}

.quantity input,.quantity button{
  width:40px;
  padding:.4em;
  font-size:1rem;
  text-align:center;
  font-weight:400;
  background:white;
  border:1px solid #aaa;
}

.quantity input{
  border-left:none;
  border-right:none;
  width: 30px;
  margin: 0px;
}

.quantity button:hover{
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  transition: 150ms;
  
}

.expand{
  margin-top: 5px;
  color: white;
}

.error{
  margin-top: 1em;
}





@media (min-width: 825px) {
  .menu-hamburguer{
    display: none;
  }
  .login{
    padding-left: 2.25em;
  }
}

@media (max-width: 825px) {
  .logout, .search, .query{
  display: none;
 }

}

@media (max-width:880px) {
 
.quantity input{
  
  width: 25px;
}

 
.quantity button{
  
  width: 30px;
}
  
  }


  @media (max-width:660px) {
 
    .quantity input{
      
      width: 20px;
    }
    
     
    .quantity button{
      
      width: 28px;
    }
      
      }


 


