:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 

}

@media (min-width: 825px) {
  .menu-hamburguer{
    display: none;
  }
}

@media (max-width: 825px) {
  .logout, .search, .query{
  display: none;
 }

}


 


