.form_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    height: 90vh;
    margin-top: 2em;
    padding-bottom: 4em;
    
    
}

.form_container form{
    display: flex;
    flex-direction: column;
    width: 300px;

}

.form_container input{
    display: block;
    padding: 1.3em 1.6em 1.3em 13px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
    
}

.form_container button{
    margin: 17px 55px;
    padding: 0.7em 0.5em;
    border-radius: 8px;
    background-color: rgb(14, 14, 14);
    color: white;
    font-size: 1em;
}
.form_container button:hover{
    background-color: rgb(62, 62, 62);
    transition: 170ms;

}

.form_container span{
    margin: auto;
    border-bottom: 1px solid blue;
    color: blue;
    
}

.form_container span:hover{
    color: rgb(136, 136, 136);
    border-bottom: 1px solid rgb(136, 136, 136);;
}

h1{
    font-size:3em;
    margin-bottom: 15px;
}

.registered{
    text-align: center;
    color: rgb(0, 205, 0);
    background-color:  rgba(122, 234, 122, 0.357);
    padding: 0.6em;
    border-radius: 8px;
    margin: 5px 10px;

}


@media (min-width:768px) {
    .form_container form{
        width: 475px;
    }
    .form_container button{
        margin: 15px 100px;
    }
    
}