.container_nav{
    margin-bottom: 1em;
}

.desktop_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(24, 24, 24);
    align-items: center;
    color: white;
    padding: 0.60em;
    font-size: 2.3em;


}


.container_nav span{
    color: rgb(203, 201, 201);
    margin-left: -6.5px;
}
.logo{
    margin-left: 0.5em;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 250ms;

}

.container_icons{
    display: flex;
    align-items: center;
    
}

.container_icons form{
    display: flex;
    align-items: center;
}

.container_icons button{
    color: white;
    margin: 2px 15px 0px 15px;
    font-size: 1em;
    background-color: transparent;
    border: none;
 

}

.container_icons button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms;
}

.container_icons span{
    color: white;
    margin: 2px 15px 0px 15px;
    font-size: 1em;

}

.container_icons span:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms;
}


input.query{
    background-color: rgba(0, 0, 0, 0.704);
    border-radius: 8px;
    color: rgb(217, 217, 217);
    border: grey;
    width: 50vw;
    padding: 0.52em 16px;
    font-size: 0.5em;
    margin: 2px;
    max-width: 400px;

}

input.query::placeholder{
    color: rgb(151, 151, 151);
    font-size: 1em;
}

a{
    display: flex;
}

.mobile_nav{
    display: flex;
    background-color: rgb(24, 24, 24);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 1em; */
    animation: fade 1s;
    position: fixed;
    top: 50%;
    left: 75%;
    z-index: 5;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100vh;
    width: 50%;
}




@media (max-width: 390px) {
    .container_icons button {
        font-size: 0.7em;
    }

    .container_icons  span {
        font-size: 0.7em;
    }

    input.query{
        width: 50vw;
        padding: 0.6em 13px;
        font-size: 0.32em;
        margin: 4px 2px 2px 2px;
        max-width: 400px;
    
    }


   }

   @media (min-width:835px) {
    .mobile_nav{
        width: 30%;
        left: 85%;
    }
    
   }
