.container_nav{
    margin-bottom: 1em;
}

.desktop_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(24, 24, 24);
    align-items: center;
    color: white;
    padding: 0.60em;
    font-size: 2.3em;


}


.container_nav span{
    color: rgb(203, 201, 201);
    margin-left: -6.5px;
}
.logo{
    margin-left: 0.5em;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 250ms;

}

.container_icons{
    display: flex;
    align-items: center;
    
}

.container_icons form{
    display: flex;
    align-items: center;
}

.container_icons button{
    color: white;
    margin: 2px 15px 0px 15px;
    font-size: 1em;
    background-color: transparent;
    border: none;
 

}

.container_icons button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms;
}

.container_icons span{
    color: white;
    margin: 2px 15px 0px 15px;
    font-size: 1em;

}

.container_icons span:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms;
}


input.query{
    background-color: rgba(0, 0, 0, 0.704);
    border-radius: 8px;
    color: rgb(217, 217, 217);
    border: grey;
    width: 50vw;
    padding: 0.52em 16px;
    font-size: 0.5em;
    margin: 2px;
    max-width: 400px;

}

input.query::placeholder{
    color: rgb(151, 151, 151);
    font-size: 1em;
}

a{
    display: flex;
}

.mobile_nav{
    display: flex;
    background-color: rgb(24, 24, 24);
    color: white;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    animation: fade 1s;
    position: fixed;
    top: 50%;
    left: 75%;
    z-index: 5;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100vh;
    width: 50%;
}

.shop_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2em 0em;
}

.shop_itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 98%;
    margin-bottom: 1em;
  
}

.shop_itens::-webkit-scrollbar{
    background-color: transparent;
    border-radius: 10px;
    color: white;
    width: 10px;
    height: 10px;
}

.shop_card{
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-bottom: 1px solid white;
    padding-bottom: 12px;
    margin: 10px 0px;
  


}

.shop_cardMain{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;



}

.shop_cardBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1.1em;
}

.shop_cardBtn input{
    width: 84px;
    text-align: center;
    margin-left: 5px;
}

.shop_cardBtn a{
    color: white;
    text-decoration: underline;
}

.shop_cardBtn a:hover{
    color: rgb(100, 100, 100);
    cursor: pointer;
    transition: 250ms;
}

.card_info{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  
}

.card_info p{
    font-size: 14px;

}



.card_image img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    
}

.shop_summary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 12px;
}

.shop_summary button{
    color: white;
    background-color: black;
    padding: 1em 1.5em;
    border-radius: 18px;
    border: black;

}

.shop_summary button:hover{
    background-color: rgb(51, 51, 51);
    transition: 250ms;
    cursor: pointer;
}






@media (max-width: 390px) {
    .container_icons button {
        font-size: 0.7em;
    }

    .container_icons  span {
        font-size: 0.7em;
    }

    input.query{
        width: 50vw;
        padding: 0.6em 13px;
        font-size: 0.32em;
        margin: 4px 2px 2px 2px;
        max-width: 400px;
    
    }


   }

   @media (min-width:835px) {
    .mobile_nav{
        width: 30%;
        left: 85%;
    }
    
   }
