

.cart_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5em 4.25em;
}

.cart_container h1 {
    margin-bottom: 1em;
    font-weight:500;
    text-align: center;
}

.cart_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2.5em;

}

.cart_header span{
    display: flex;
    font-size: 13px;
    color: rgb(60, 60, 60);

}

.cart_headerInfo{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.cart_products{
   display: flex;
   flex-direction: column;
   gap: 2em;
   width: 100%;
   margin-bottom: 1em;
}

.card_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
}

.product_1{
    display: flex;
    align-items: center;
    gap: 1em;
}

.product_2{
    display: flex;
    gap: 1.5em;
}

.product_1 img{
    width: 150px;
}

.product_info{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    font-size: 17px;
   
}

.card_product input{
    width: 60px;
    text-align: center;
}

.cart_subtotal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}







@media (min-width:944px) {
    .cart_container{
        padding: 5em 6.25em;
        
    }
}


@media (min-width:1200px) {
    .cart_container{
        padding: 5em 12.25em;
    }
}

@media (min-width:1200px) {
    .cart_container{
        padding: 5em 14.25em;
    }
}