.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }

  .posts_container{
    margin-top: 0.25em;
  }
  
  
  .search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin:0.75em 0em 1.85em 0em;
  }
  
  .search_form input {
    margin-right: 10px;
    width: 50%;
  }

  .search_form button{
    margin: 0px;
  }
  
  .noposts {
    text-align: center;
  }
  
  .noposts p {
    margin-bottom: 1.5em;
  }
  
  .noposts a {
    padding: 10px 25px;
  }