.noposts_query{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:4em auto;
}

.query_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1.25em;

}

.query_container h2{
    margin-bottom: 1em;
}

.query_container p{
    margin-bottom:30px ;
}